// Navigation Styles here

nav {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 24px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed @navigation-border;

  @media @tablet { //Same nav style for tablet and mobile
    flex-direction: column;
    padding: 0;
    padding-bottom: 8px;
  }

  div {
    display: flex;
    justify-content: space-between;
    width: 36%;
    margin: 0 31px;

    @media @tablet {
      width: 100%;
      padding: 0 11.5%;
    }

    a {
      text-decoration: none;
      color: @font-color;
      font-size: 1.6rem;

      .hoverable(@eastern-blue);
    }

    
  }
  h1 {
    @media @tablet {
      font-size: 3rem;
      margin: 18px 0 16px;
    }
  }
}